<div class="row">
  <div class="left-col">
    <div class="white-box">
      <h1><%= @flat.name %></h1>
      <h3><%= @flat.address %></h3>
    </div>
    <div class="white-box">
      <h2>About this place</h2>
      <p><%= @flat.description %></p>
    </div>
  </div>

  <div class="right-col">
    <div class="white-box">
      <h2>Details</h2>
      <span class="number_of_guests">
        <i class="fas fa-users"></i>
        <%= @flat.number_of_guests %>
      </span>
      <span class="price_per_night">
        <i class="fas fa-euro-sign"></i>
        <%= @flat.price_per_night %>
      </span>
    </div>
    <div class="white-box">
      <div class="social-bar">
        <h3>Share</h3>
        <a href="#" class="social-networks">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</div>
